@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'header';
@import 'fonts';

/* 
@layer base {
  p {
    @apply mb-8;
  }
} */

html {
  padding: 0;
  margin: 0;
  font-size: 10px;

}

body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 160%;
  -webkit-font-smoothing: antialiased;
}

main {
  min-height: 100vh;
}

.container {
  max-width: -1200px;
  margin: auto;
}

a {
  color: inherit;
}

strong {
  font-weight: 700;
}

* {
  box-sizing: border-box;
}


section {
  max-width: 100rem;
  padding: 0 3.2rem;
  margin: auto;
}

.sectionBlock {
  max-width: 49.2rem;
  margin-left: auto;
  margin-right: auto;
}


.page {
  min-height: calc(100vh - 167px);
}