.experienceItem.active .experienceYear {
  background: transparent;
}

@media (max-width: 768px) {
  .experienceItem.active {
    background: transparent;
  }
}

.portfolioVideo {
  aspect-ratio: 530 / 354;
}


@keyframes moveBackground {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -900px;
  }
}

.moveBackground {
  animation: moveBackground 30s linear infinite;
}